h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
}

.modal-form-button, .gallery-btn {
  display: block;
  font-family: inherit;
  font-size: 14px;
  color: inherit;
  padding: 20px 48px;
  border: 1px solid #626262;
  margin: 0 auto;
  margin-top: 90px;
}
.modal-form-button:hover, .gallery-btn:hover {
  background-color: #d6cece;
  color: #524e4e;
}

body {
  font-family: var(--font-family);
  color: var(--main-text-color);
  background-color: var(--bg-color);
  font-weight: 400;
  font-size: 14px;
  /* background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(177, 47, 124, 1) 21%, rgba(240, 32, 46, 1) 48%, rgba(249, 145, 64, 1) 75%, rgba(252, 176, 69, 1) 100%); */
}

.no-scroll {
  overflow: hidden;
}

.current {
  color: var(--accent-color);
}

.container {
  width: 936px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline:1px solid red; */
}

.header {
  padding-top: 71px;
  padding-bottom: 26px;
}
.header-logo {
  margin-right: 70px;
}
.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}
.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-button {
  margin-left: auto;
}
.header-sub-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  padding: 8px;
  color: #9c9c9c;
  display: none;
}

.header-link {
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  transition-property: color, transform;
  transition-property: color, transform, -webkit-transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  /* transition-timing-function: linear; */
}
.header-link:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  color: #03A9F4;
  color: red;
  /* background-color: yellow; */
}
.header-link:hover .header-sub-list {
  display: block;
  position: absolute;
}

.header-item {
  color: #7D7D7D;
}
.header-item::after {
  content: "";
  display: block;
  border-radius: 5px;
  background-color: #03A9F4;
  width: 100%;
  height: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transform-origin: left;
          transform-origin: left;
  margin-top: 5px;
}
.header-item:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header-item a {
  padding: 20px 0px;
}
.header-item .current {
  color: #03A9F4;
  position: relative;
}

.gallery {
  padding-top: 66px;
  padding-bottom: 66px;
  /* background-color: aquamarine; */
}
.gallery .gallery-item {
  width: 420px;
  background-color: rgba(255, 255, 255, 0.8901960784);
  -webkit-box-shadow: 5px 5px 20px 16px white;
          box-shadow: 5px 5px 20px 16px white;
  border-radius: 16px;
  border: 2px solid black;
  overflow: auto;
}
.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallery-list-text {
  margin-top: 40px;
  padding: 0 12px;
}
.gallery-list-topic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #B4AD9E;
}
.gallery-list-heading {
  font-size: 30px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(125, 125, 125, 0.5529411765);
  visibility: visible;
  opacity: 1;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0) rotate(-1000000deg);
          transform: translate(-50%, -50%) scale(0) rotate(-1000000deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background-color: #fff;
  padding: 30px;
  -webkit-transform: translate(-50%, -50%) scale(1) rotate(0deg);
          transform: translate(-50%, -50%) scale(1) rotate(0deg);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.modal-form-button {
  margin: 0;
}

.modal-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* align-items: center; */
  gap: 8px;
}

.modal-label:focus-within {
  color: #03A9F4;
}

.modal-label:focus-within input {
  /* outline: 1px solid #03A9F4; */
  outline: none;
}

.modal-label input:-moz-placeholder {
  border: 1px solid green;
}

.modal-label input:-ms-input-placeholder {
  border: 1px solid green;
}

.modal-label input:placeholder-shown {
  border: 1px solid green;
}

.modal-label input:not(:-moz-placeholder) {
  border: 1px solid rgb(140, 3, 182);
}

.modal-label input:not(:-ms-input-placeholder) {
  border: 1px solid rgb(140, 3, 182);
}

.modal-label input:not(:placeholder-shown) {
  border: 1px solid rgb(140, 3, 182);
}/*# sourceMappingURL=main.css.map */