 @import "./base/reset";

 @import "./utils/varriables.scss";

 @import "./utils/mixins";

 @import "./utils/placeholders";

 @import "./base/common";

 @import "./componens/container";

 @import "./loyout/header";

 @import "./loyout/gallery";

 @import "./loyout/modal";