.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#7d7d7d8d ;
    visibility: visible;
    opacity: 1;
     transition-property: opacity, visibility;
    transition-duration: 500ms;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
     transition-property: opacity, visibility;
    transition-duration: 1000ms;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0) rotate(-1000000deg);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: #fff;
    padding: 30px;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
        transition-property: transform;
    transition-duration: 1000ms;
    transform-origin: center;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal-form-button{
    @extend %btn;
    margin: 0;
}

.modal-label{
display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 8px;
}

.modal-label:focus-within{
    color: #03A9F4;
}

.modal-label:focus-within input{
    /* outline: 1px solid #03A9F4; */
    outline: none;
}

.modal-label input:placeholder-shown{
    border: 1px solid green;
}


.modal-label input:not(:placeholder-shown){
    border: 1px solid rgb(140, 3, 182);
    
}