
        ul{
            list-style-type: none;
        }
        button{
            width: 165px;
            height: 60px;
            background-color: rgba(253, 253, 253, 0.944);
            /* border-radius: 10px; */
            border: 1px solid black;
        }

        footer{
            justify-content: center;
            display: flex;
        }

        .s1{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .ul1{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .ln1{
            font-size: 23px;
            padding-left: 70px;
            padding-right: 70px;
            padding-top: 50px;
            padding-bottom: 40px;
            
        }
        p{
            width: 420px;
        }

        .ul2{
            padding-left: 35px;
            padding-right: 35px;
        }

        .ul3{
            padding-left: 35px;
            padding-right: 35px;
            
        }

        .ln2{
            padding-top: 50px;
        }

        a{
            color: black;
            font-size: 15px;
            text-decoration: none;
        }
        .spa{
            color: rgb(105, 187, 228);
            font-size: 15px;
        }
       