
:root {
    --main-text-color: #626262;
    --heading-color: #B4AD9E;
    --nav-link-color: #7D7D7D;
    --accent-color: #03A9F4;
    --bg-color: #FFFFFF;
    --border-btn-color: #626262;

    --font-family: "Playfair Display", sans-serif;
    --second-family: "Ubuntu", sans-serif;
}

.container{
    width: 936px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline:1px solid red; */
}

body {
    font-family: var(--font-family);
    color: var(--main-text-color);
    background-color: var(--bg-color);
    font-weight: 400;
    font-size: 14px;
    /* background: linear-gradient(90deg,rgba(131, 58, 180, 1) 0%, rgba(177, 47, 124, 1) 21%, rgba(240, 32, 46, 1) 48%, rgba(249, 145, 64, 1) 75%, rgba(252, 176, 69, 1) 100%); */
}

.no-scroll{
    overflow: hidden;
}

.header-flex{
    display: flex;
    justify-content: center;
}

.header{
    padding-top: 71px;
    padding-bottom: 26px;
}

.header-logo{
    margin-right: 70px;
}

.header-list {
    display: flex;
    gap: 100px;
}

/* .header-list a:hover{
    color: #43c1fc;
} */

.current{
    color: var(--accent-color);
}

/* .header-item.current::after{
    display: block;
    position: absolute;
    bottom: 0;
    content: "";
    border-color: var(--accent-color);
    border-radius: 4px;
    width: 100%;
    height: 4px;
} */

.header-link{
    transition-property: color, transform;
    transition-duration: 500ms;
    /* transition-timing-function: linear; */
}

.header-link:hover{
   transform: scale(1.25);
   color: var(--accent-color);
   color: red;
   /* background-color: yellow; */
}

.header-item{
    color: var(--nav-link-color);
}

.header-item::after{
    content:"";
    display: block;
    border-radius: 5px;
    background-color: #03A9F4;
    width: 100%;
    height: 4px;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 500ms;
    transform-origin: left;
    margin-top: 5px;
}

.header-item:hover::after{
    transform: scale(1);
}

.header-item a{
    padding: 20px 0px;
}

.header-link:hover .header-sub-list{
    display: block;
    position: absolute;
}

.header-item.current {  
    color: var(--accent-color);
    position: relative;
}

.header-button{
  
    margin-left: auto;
}

.header-sub-list{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 8px;
    color: #9c9c9c;
    display: none;
}

.gallery {
    padding-top: 66px;
    padding-bottom: 66px;
    /* background-color: aquamarine; */
}

.gallery-topic {
    font-family: var(--second-family);
    font-weight: 300;
    color: var(--heading-color);
}

.gallery-heading {
    font-size: 30px;
}

.gallery-btn {
    font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
color: var(--main-text-color);
border: 1px solid var(--border-btn-color);
width: 165px;
height: 60px;

display: flex;
justify-content: center;
align-items: center;
margin-top: 94px;
margin-right: auto;
margin-left: auto;
}

.gallery-btn:hover{
    background-color: #f4f3f3;
}

.gallery-item{
    width: 420px;
    background-color: #ffffffe3;
    box-shadow: 5px 5px 20px 16px white;
    border-radius: 16px;
    border: 2px solid black;
    overflow: auto;
}

.gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
}

.gallery-text{
    margin-top: 40px;
    padding: 0 12px;
}

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#7d7d7d8d ;
    visibility: visible;
    opacity: 1;
     transition-property: opacity, visibility;
    transition-duration: 500ms;
}

.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
     transition-property: opacity, visibility;
    transition-duration: 1000ms;
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0) rotate(-1000000deg);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    background-color: #fff;
    padding: 30px;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
        transition-property: transform;
    transition-duration: 1000ms;
    transform-origin: center;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.modal-label{
display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 8px;
}

.modal-label:focus-within{
    color: #03A9F4;
}

.modal-label:focus-within input{
    /* outline: 1px solid #03A9F4; */
    outline: none;
}

.modal-label input:placeholder-shown{
    border: 1px solid green;
}


.modal-label input:not(:placeholder-shown){
    border: 1px solid rgb(140, 3, 182);
    
}
