
    $main-text-color: #626262;
    $heading-color: #B4AD9E;
    $nav-link-color: #7D7D7D;
    $accent-color: #03A9F4;
    $bg-color: #FFFFFF;
    $border-btn-color: #626262;

    $font-family: "Playfair Display", sans-serif;
    $second-family: "Ubuntu", sans-serif;
